---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Erika"
	description="Hi, I am Erika Owens"
	pubDate={new Date('March 09 2025')}
	heroImage="/files/erika-nerd.JPG"
>

<p>Erika Owens is Co-Director at Open Parliament TV. Previously, Erika was Co-Director at OpenNews, where she supported a thriving network and created inclusive, caring spaces for the journalism-tech community. Her adroit community work was instrumental in establishing OpenNews as a leader in how to foster and sustain networks.</p>

<p>She also serves on the board of the Movement Alliance Project (formerly Media Mobilizing Project), has trained as a donor organizer through the Giving Project at Bread and Roses Community Fund, and recently completed a John S. Knight Journalism Fellowship at Stanford University. Previously, Erika was web editor at the Philadelphia Public School Notebook. From tutoring in the D.C. Public Schools to voter outreach to mission-driven journalism, each area of her work has reinforced the importance of building and strengthening relationships. She is based in Sheffield, UK and loves nonprofit journalism, people watching, and laughing heartily.</p>

<p>Erika's work has largely been at the intersection of journalism, technology, and community and she's conducted it through facilitation, convening, strategizing, fundraising, budget planning, and other forms of network connection and analysis. Through these efforts, she's seen how collective action can reshape systems, wield power, and alter how we relate to and support one another.</p>

<p>If you're interested in similar questions or might have ideas about possible collaborations, <a href="mailto:hello@erikaowens.com">please reach out</a>.</p>
